<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.zq.skhd</string>
    <key>ProgramArguments</key>
    <array>
        <string>__SKHD_PATH__</string>
        <string>-c</string>
        <string>__USER_HOME__/.skhdrc</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>__USER_HOME__/Library/Logs/skhd.log</string>
    <key>StandardErrorPath</key>
    <string>__USER_HOME__/Library/Logs/skhd.log</string>
    <key>ProcessType</key>
    <string>Interactive</string>
</dict>
</plist>
